<div id="<%= dom_id post %>" class="card my-2">
  <div class="card-body">
    <p>
      <strong>Title:</strong>
      <%= post.title %>
    </p>
    <p>
      <strong>Body:</strong>
      <%= post.body %>
    </p>
  </div>
</div>
